@{
    ViewData["Title"] = "DatosPersonales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-center">
    <h1>Datos Personales</h1><br>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group mb-4">

                <input type="text" class="form-control form-control-lg" id="input1" style="height: 50px;"
                    placeholder="Primer nombre">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="text" class="form-control form-control-lg" id="input2" style="height: 50px;"
                    placeholder="Segundo nombre">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="text" class="form-control form-control-lg" id="input3" style="height: 50px;"
                    placeholder="Primer apellido">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="text" class="form-control form-control-lg" id="input4" style="height: 50px;"
                    placeholder="Segundo apellido">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" style="height: 50px;"
                    aria-describedby="emailHelp" placeholder="Correo electrónico">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="number" class="form-control form-control-lg" id="input5" style="height: 50px;"
                    placeholder="Telefono">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group mb-4">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>CC</option>
                        <option value="1">Doc extranjero</option>
                        <option value="2">Pasaporte</option>
                    </select>
                    <label for="floatingSelect">Tipo de documento</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="number" class="form-control form-control-lg" id="input6" style="height: 50px;"
                    placeholder="Número de documento">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="text" class="form-control form-control-lg" id="input7" style="height: 50px;"
                    placeholder="Usuario">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group mb-4">
                <input type="password" class="form-control form-control-lg" id="input8" style="height: 50px;"
                    placeholder="Contraseña">
            </div>
        </div>
    </div>

    <div class="border-bottom my-3">
        <h2>¿Qué servicio desea adquirir?</h2>
        <div class="form-group mb-4">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">Alquilar vehículo</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">Prestar vehículo</label>
            </div>
        </div>
        <div class="form-group mb-4">
            <form asp-action="peticion" asp-controller="Peticion" method="post">
                <button type="button" class="btn btn-secondary">Cancelar</button>
            </form>
            <form>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

        </div>
    </div>
</div>
