@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning" role="alert" style="text-align: center;">
  Actualmente no tiene Privilegios para Ingreesar a esta pagina!
</div>
