html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

--propio
.custom-footer {
  background-color: #555555;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

#mi-footer {
  margin: 0;
  width: 100%;
  padding: 0;
}

#mi-navbar {
  background-color: #D0EAFC;
  color: #000000;
  padding: 20px;
}

#listadoReserva {
  background-color: #D0EAFC;
}